<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Покрасочная | Ex Works</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">

	<link rel="stylesheet" href="/css/style.css">

	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/footer.css">

</head>
<body>
	<header>
		<div class="container">
			<div class="header__brand">
				<img src="/img/logo.png" alt="">
				<h2>EX Works | Crossout</h2>
			</div>

			<div class="header__nav">
				<a href="/index.html">Лента</a>
				<a href="/templates/Locations/index.html">Картотека</a>
				<a href="/templates/Artworks/index.html">Фотогазета</a>
				<a href="/templates/Characters/index.html">Персонажи</a>
				<a href="/templates/Co__Authors/index.html">Соавторство</a>
				<a href="/templates/Paintshop/index.html" class="currentPage">Покрасочная</a>
				<a href="/templates/Fractions/index.html">Группировки</a>
				<a href="/templates/Historys/index.html">Книжная полка</a>
				<a href="/templates/Transport__Archive/index.html">Транспортный архив</a>
				<a href="/templates/Car__Brands/index.html">Автомобильные марки</a>
			</div>
		</div>
	</header>

	<main>
		<div class="container">
			<aside id="sidebar__left">
				<div class="sideBar__profile sideBarItem">
					<div class="sideBar__center sBP">
						<img src="/img/unknown-user.png" alt="">
						<a href="">
							<p style="color: #a5a5a5;">Войти в профиль</p>
							<p style="color: #393939;">чтобы оценивать посты и оставлять комментарии</p>
						</a>
					</div>
				</div>

				<div class="sideBar__legend sideBarItem">
					<div class="sideBar__center sBL">
						<span>Легенда:</span>

						<p>
							Несмотря на последствия Кроссаута индивидуальность среди выживших никуда не делась, а с появлением рынка даже возросла. В отличии от былых времён, сейчас встретить похожие как две капли воды машины практически невозможно. И даже если кузов будет тот-же, то никто не отменял другой цвет, наклейки и остальные изменения.
						</p>
					</div>

					<div style="min-height: 5px;"></div>

					<div class="sideBar__center sBL">
						<p>
							Дабы упростить выжившим подбор подходящих для их бронемобилей красок и наклеек был создан целый каталог всего, что может предложить рынок в Пустошах на сегодняшний день.
						</p>
					</div>
				</div>

				<div class="sideBar__ad sideBarItem">
					<div class="sideBar__center sBA">
						<img src="/img/Ad/Ad1.jpg" alt="">
					</div>
				</div>
			</aside>

			<div id="block__content">
				<div class="content">
					<div class="content__locations-info">
						<h1>Покрасочная | Каталог Пустоши</h1>
						<h1>00.00.0000</h1>
					</div>

					<div class="content__paintshop">
						<img src="contents/Paints/back_1.jpg" alt="">
						<img src="contents/Paints/back_2.jpg" alt="" style="opacity: 0;">
						<img src="contents/Paints/back_3.jpg" alt="" style="opacity: 0;">

						<div class="content__paintshop-info">
							<div class="content__paintshop-info-left">
								<h2>Краски</h2>
								
								<br>
								
								<span>Количество: 0</span>

								<br>

								<span>Прояви свои способности в выборе сочетающихся оттенков. Пусть твой шедевр станет ещё лучше!</span>
							</div>

							<div class="content__paintshop-info-right">
								<label onmouseover='

								document.querySelector(`img[src="contents/Paints/back_1.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Paints/back_2.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Paints/back_3.jpg"]`).style.opacity = `0`;

								document.querySelector(`img[src="contents/Paints/back_1.jpg"]`).style.opacity = `1`;

								'></label>

								<div></div>

								<label onmouseover='

								document.querySelector(`img[src="contents/Paints/back_1.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Paints/back_2.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Paints/back_3.jpg"]`).style.opacity = `0`;

								document.querySelector(`img[src="contents/Paints/back_2.jpg"]`).style.opacity = `1`;

								'></label>

								<div></div>

								<label onmouseover='

								document.querySelector(`img[src="contents/Paints/back_1.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Paints/back_2.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Paints/back_3.jpg"]`).style.opacity = `0`;

								document.querySelector(`img[src="contents/Paints/back_3.jpg"]`).style.opacity = `1`;

								'></label>
							</div>
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__paintshop">
						<img src="contents/Stickers/back_1.jpg" alt="">
						<img src="contents/Stickers/back_2.jpg" alt="">
						<img src="contents/Stickers/back_3.jpg" alt="">

						<div class="content__paintshop-info">
							<div class="content__paintshop-info-left">
								<h2>Наклейки</h2>
								
								<br>
								
								<span>Количество: 0</span>

								<br>

								<span>Подбери лучший комплект наклеек для своей рабочей лошадки. Перейди на новый уровень зависти врагов!</span>
							</div>

							<div class="content__paintshop-info-right">
								<label onmouseover='

								document.querySelector(`img[src="contents/Stickers/back_1.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Stickers/back_2.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Stickers/back_3.jpg"]`).style.opacity = `0`;

								document.querySelector(`img[src="contents/Stickers/back_1.jpg"]`).style.opacity = `1`;

								'></label>

								<div></div>

								<label onmouseover='

								document.querySelector(`img[src="contents/Stickers/back_1.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Stickers/back_2.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Stickers/back_3.jpg"]`).style.opacity = `0`;

								document.querySelector(`img[src="contents/Stickers/back_2.jpg"]`).style.opacity = `1`;

								'></label>

								<div></div>

								<label onmouseover='

								document.querySelector(`img[src="contents/Stickers/back_1.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Stickers/back_2.jpg"]`).style.opacity = `0`;
								document.querySelector(`img[src="contents/Stickers/back_3.jpg"]`).style.opacity = `0`;

								document.querySelector(`img[src="contents/Stickers/back_3.jpg"]`).style.opacity = `1`;

								'></label>
							</div>
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__paintshop">
						<img src="contents/Palettes/back_1.jpg" alt="">
						<img src="contents/Palettes/back_2.jpg" alt="">
						<img src="contents/Palettes/back_3.jpg" alt="">

						<div class="content__paintshop-info">
							<div class="content__paintshop-info-left">
								<h2>Палитры</h2>
								
								<br>
								
								<span>Количество: 0</span>

								<br>

								<span>Сэкономил время в гараже — быстрее заработал на содержимое готового комплекта красок и наклеек!</span>
							</div>

							<div class="content__paintshop-info-right">
								<label></label>
								<div></div>
								<label></label>
								<div></div>
								<label></label>
							</div>
						</div>
					</div>
				</div>

				<div class="content__section"></div>

				<div class="content">
					<div class="content__locations-info" style="justify-content: center;">
						<h1>Советы при покраске автомобиля</h1>
					</div>

					<div class="content__location-guide" style="background-image: url('Guide/Guide-1-back.jpg');">
						<div>
							<div>
								<h2>Чистота - не залог красоты</h2>
								<p>Ржавчина, грязь, царапины, пулевые отверстия, вмятины от снарядов, следы крови счастливчиков... Чего только не увидишь в нынешнее время на машинах выживших.</p>
							</div>

							<img src="Guide/Guide-1-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-1-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-1-3.jpg" alt="">
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('Guide/Guide-2-back.jpg');">
						<div>
							<div>
								<h2>Основной и дополнительные цвета</h2>
								<p>Самое первое что бросается в глаза на вашей машине - распределение цвета по всему кузову. Добавьте к основной краске сочетающиеся оттенки и распределите их правильно.</p>
							</div>

							<img src="Guide/Guide-2-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-2-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-2-3.jpg" alt="">
						</div>
					</div>
					
					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('Guide/Guide-3-back.jpg');">
						<div>
							<div>
								<h2>Какова роль вашей машины в Пустошах?</h2>
								<p>Рейдер, наёмник, гражданский, военный, гонщик - продолжать можно долго. Вам будет проще подобрать палитру зная какую роль выполняет ваша машина в Пустошах и её водитель.</p>
							</div>

							<img src="Guide/Guide-3-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-3-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-3-3.jpg" alt="">
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('Guide/Guide-4-back.jpg');">
						<div>
							<div>
								<h2>Наклейки как смысл жизни</h2>
								<p>Помимо износа ими можно повторить любые культовые окрасы из мира кино и видеоигр. Не знаете таких? Тогда воображение - ваше всё! Покажите на что вы способны.</p>
							</div>

							<img src="Guide/Guide-4-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-4-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-4-3.jpg" alt="">
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('Guide/Guide-5-back.jpg');">
						<div>
							<div>
								<h2>Не всё так просто...</h2>
								<p>Если лимиты встали на вашем пути - не опускайте руки! Оптимизируйте свой окрас используя аналоги и лайфхаки по видоизменению наклеек как вам будет угодно.</p>
							</div>

							<img src="Guide/Guide-5-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-5-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-5-3.jpg" alt="">
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('Guide/Guide-6-back.jpg');">
						<div>
							<div>
								<h2>Красота требует жертв</h2>
								<p>Лимиты кусаются, наклеек не хватило, а окрас машины всё ещё не закончен... Меняйте конструкционки и декор, чтоб сэкономить на наклейках и перераспределить окрас.</p>
							</div>

							<img src="Guide/Guide-6-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-6-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-6-3.jpg" alt="">
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('Guide/Guide-7-back.jpg');">
						<div>
							<div>
								<h2>Помогите, я рукожоп</h2>
								<p>В таком случае мы вам  рекомендуем в первую очередь пользоваться уже готовыми окрасами и практиковаться в создании собственных по мере своих возможностей.</p>
							</div>

							<img src="Guide/Guide-7-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-7-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="Guide/Guide-7-3.jpg" alt="">
						</div>
					</div>
				</div>

				<div id="content__about">
					<span>Сообщите нам, если не нашли краску или наклейку из игры в этом разделе!</span>
					<span>Последнее обновление: 00.00.0000</span>
				</div>
			</div>

			<aside id="sidebar__right">
				<div class="sideBar__bookmark sideBarItem">
					<span id="" style="margin-bottom: 5px;">Скрыть закладки ∧</span>
					<div class="sideBar__center">
						
					</div>
				</div>

				<div class="sideBar__quickmove sideBarItem">
					<span style="margin-bottom: 5px;">Быстрое премещение по разделу</span>
					<div class="sideBar__center sBQ">
						<div>
							<span>Краска <span>∨</span></span>
						</div>

						<div>
							<span>Наклейки <span>∨</span></span>
						</div>

						<div>
							<span>Палитры <span>∨</span></span>
						</div>
					</div>

				</div>
			</aside>
		</div>
	</main>

	<footer></footer>

	<script src="/js/paintshop.js"></script>
</body>
</html>