<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Персонажи | Ex Works</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">

	<link rel="stylesheet" href="/css/style.css">

	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/footer.css">

</head>
<body>
	<header>
		<div class="container">
			<div class="header__brand">
				<img src="/img/logo.png" alt="">
				<h2>EX Works | Crossout</h2>
			</div>

			<div class="header__nav">
				<a href="/index.html">Лента</a>
				<a href="/templates/Locations/index.html">Картотека</a>
				<a href="/templates/Artworks/index.html">Фотогазета</a>
				<a href="/templates/Characters/index.html" class="currentPage">Персонажи</a>
				<a href="/templates/Co__Authors/index.html">Соавторство</a>
				<a href="/templates/Paintshop/index.html">Покрасочная</a>
				<a href="/templates/Fractions/index.html">Группировки</a>
				<a href="/templates/Historys/index.html">Книжная полка</a>
				<a href="/templates/Transport__Archive/index.html">Транспортный архив</a>
				<a href="/templates/Car__Brands/index.html">Автомобильные марки</a>
			</div>
		</div>
	</header>

	<main>
		<div class="container">
			<aside id="sidebar__left">
				<div class="sideBar__profile sideBarItem">
					<div class="sideBar__center sBP">
						<img src="/img/unknown-user.png" alt="">
						<a href="">
							<p style="color: #a5a5a5;">Войти в профиль</p>
							<p style="color: #393939;">чтобы оценивать посты и оставлять комментарии</p>
						</a>
					</div>
				</div>

				<div class="sideBar__legend sideBarItem">
					<div class="sideBar__center sBL">
						<span>Легенда:</span>

						<p class="sideBar">
							Сразу после катастрофы большинство крупных городов стали совершенно непригодны для жизни. Те выжившие, которые еще помнили мир до катастрофы, пытались подобраться к старым домам, но вид опустевшего мира наводил на них тоску и заставлял побыстрее уйти — чувство это передавалось и их соплеменникам. К тому же, нынешняя кочевая жизнь требовала постоянных разъездов, а на узких улицах легко было попасть в засаду, поэтому бетонным великанам было суждено провести вечность в одиночестве. Но их руины стали одним из важнейших факторов выживания нового человечества. Только там все еще можно найти то, что помогает существовать общине или целой фракции. Но эти ресурсы не бесконечны. И чем больше времени проходит, тем более ожесточенные бои кипят на подступах к руинам.
						</p>
					</div>
				</div>

				<div class="sideBar__ad sideBarItem">
					<div class="sideBar__center sBA">
						<img src="/img/Ad/Ad1.jpg" alt="">
					</div>
				</div>
			</aside>

			<div id="block__content">
				<div class="content">
					<div class="content__locations-info">
						<h1>Картотека I Глобальная карта Пустоши</h1>
						<h1>25.04.2054</h1>
					</div>

					<div id="content__locations-map">
						<img src="/img/Locations/Map.png" alt="" id="">
					</div>
				</div>

				<div class="content__section"></div>

				<div class="content">
					<div class="content__locations-info" style="justify-content: center;">
						<h1>Краткий путеводитель по регионам</h1>
					</div>

					<div class="content__location-guide" style="background-image: url('/img/Locations/Guide/Guide-1-back.jpg');">
						<div>
							<div>
								<h2>Территория Гипербореи</h2>
								<p>Зона вечной мерзлоты, без тщательной подготовки как себя так и бронемобиля к аномально минусовым температурам и глубоким сугробам лучше не соваться...</p>
							</div>

							<img src="/img/Locations/Guide/Guide-1-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-1-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-1-3.jpg" alt="">
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('/img/Locations/Guide/Guide-2-back.jpg');">
						<div>
							<div>
								<h2>Территория Синдиката</h2>
								<p>Кто бы мог подумать, что корпораты смогут выкупить часть мегаполисов в Европе и перестроить их под себя ещё до Кроссаута... Но зато тут очень красиво и технологично.</p>
							</div>

							<img src="/img/Locations/Guide/Guide-2-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-2-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-2-3.jpg" alt="">
						</div>
					</div>
					
					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('/img/Locations/Guide/Guide-3-back.jpg');">
						<div>
							<div>
								<h2>Мёртвые пустоши</h2>
								<p>Охлаждающие шахты, Подземая лаборатория с ускорителем частиц, Поисковая система - не удивительно что эти места облюбовали Опустошители и рискованные авантюристы...</p>
							</div>

							<img src="/img/Locations/Guide/Guide-3-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-3-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-3-3.jpg" alt="">
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('/img/Locations/Guide/Guide-4-back.jpg');">
						<div>
							<div>
								<h2>Древние земли</h2>
								<p>Удивительно, но катастрофа унесла за собой далеко не все исторически ценные здания. Только вот их сохранность теперь никому не интересна, кроме местных старейшин...</p>
							</div>

							<img src="/img/Locations/Guide/Guide-4-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-4-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-4-3.jpg" alt="">
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('/img/Locations/Guide/Guide-5-back.jpg');">
						<div>
							<div>
								<h2>Братство</h2>
								<p>Временное правительство из бывших вояк время зря не теряет. Усмиряет Каганат, борется с Опустошителями, налаживает коммуникации и отношения... А где минусы?</p>
							</div>

							<img src="/img/Locations/Guide/Guide-5-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-5-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-5-3.jpg" alt="">
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('/img/Locations/Guide/Guide-6-back.jpg');">
						<div>
							<div>
								<h2>Каганат</h2>
								<p>Неумолимая жара, постоянные стычки между многочисленными бандами, мало чистой воды. Вы уверенны что вам сюда надо? Конечно надо! Ведь тут самый дешёвый бензак в Пустоши!</p>
							</div>

							<img src="/img/Locations/Guide/Guide-6-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-6-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-6-3.jpg" alt="">
						</div>
					</div>

					<div style="height: 5px;"></div>

					<div class="content__location-guide" style="background-image: url('/img/Locations/Guide/Guide-7-back.jpg');">
						<div>
							<div>
								<h2>Долина</h2>
								<p>Только посмотрите на этот лакомый кусочек Пустошей! Плодородные земли, много воды и других ресурсов. От того эти места обладают особой популярностью среди выживших.</p>
							</div>

							<img src="/img/Locations/Guide/Guide-7-1.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-7-2.jpg" alt="">
							<div style="width: 10px; margin-right: 0;"></div>
							<img src="/img/Locations/Guide/Guide-7-3.jpg" alt="">
						</div>
					</div>
				</div>

				<div id="content__about">
					<span>Общее количество локаций: 69</span>
					<span>Последнее обновление: 25.04.2024</span>
				</div>
			</div>

			<aside id="sidebar__right">
				<div class="sideBar__bookmark sideBarItem">
					<span id="" style="margin-bottom: 5px;">Скрыть закладки ∧</span>
					<div class="sideBar__center">
						
					</div>
				</div>

				<div class="sideBar__quickmove sideBarItem">
					<span style="margin-bottom: 5px;">Быстрое премещение по разделу</span>
					<div class="sideBar__center sBQ">
						<div>
							<span>Территория Синдиката <span>∨</span></span>
						</div>

						<div>
							<span>Мёртвые пустоши <span>∨</span></span>
						</div>

						<div>
							<span>Северный рубеж <span>∨</span></span>
						</div>
						
						<div>
							<span>Древние земли <span>∨</span></span>
						</div>
						
						<div>
							<span>Братство <span>∨</span></span>
						</div>
						
						<div>
							<span>Каганат <span>∨</span></span>
						</div>
						
						<div>
							<span>Долина <span>∨</span></span>
						</div>
					</div>

				</div>
			</aside>
		</div>
	</main>

	<footer></footer>
</body>
</html>